<ion-header>
  <ion-toolbar class = "background">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title style="text-align: center;"><h1 style="color: white; font-family: 'Poppins', sans-serif;">Hire</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="canvas">

  <ion-card>
    <img src="./assets/sri.jpg" />
    <ion-card-header>
      <ion-card-subtitle style = "text-align: center;">Electrician</ion-card-subtitle>
      <ion-card-title style = "text-align: center;">Sri</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hello, my name is Sri. I am a local Electrician, I have more than 25 years of experience in electrical engineering. I graduated early from MIT!
    </ion-card-content>
    <ion-card-content>
      <ion-button>HIRE! $8.99/hr</ion-button>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <img src="./assets/ayush.jpg" />
    <ion-card-header>
      <ion-card-subtitle style = "text-align: center;">Fitness</ion-card-subtitle>
      <ion-card-title style = "text-align: center;">Ayush</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hello, my name is Ayush Mural. I have won mr. Universe 3 times now. I am pure 400 pounds of muscle. I am a professional trainer and have trained with great atheletes such as Usain Bolt!
    </ion-card-content>
    <ion-card-content>
      <ion-button>HIRE! $11.99/hr</ion-button>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <img src="./assets/ghirish.jpg" />
    <ion-card-header>
      <ion-card-subtitle style = "text-align: center;">Baby Sitter</ion-card-subtitle>
      <ion-card-title style = "text-align: center;">Ghirish</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hello guys my name is Ghirish, I am your local baby sitter. I am also obliged to say that I am your local registered sex-offender. I took this job to make sure I don't need to stalk kids. 
    </ion-card-content>
    <ion-card-content>
      <ion-button>HIRE! $10.99</ion-button>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <img src="./assets/satvik.jpg" />
    <ion-card-header>
      <ion-card-subtitle style = "text-align: center;">Plumber</ion-card-subtitle>
      <ion-card-title style = "text-align: center;">Satvik</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hello betas, My name is Satvik, I graduated from las positas. I have over 5 years of experience in cleaning people's toilets and fixing them. I am also a registered felon and drug abuser if you don't mind.
    </ion-card-content>
    <ion-card-content>
      <ion-button>HIRE! $7.99/hr</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
