<ion-header>
    <ion-toolbar class="background">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            <h1 style="color: white; font-family: 'Poppins', sans-serif;">Pay Rent</h1>
        </ion-title>
        <ion-button class="profile_pic" (click) = "profile()">
            <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card class = "card2">
    <ion-card-header>
      <ion-card-title><h1><b>Instructions</b></h1></ion-card-title>
    </ion-card-header>
      <ion-card-content class = "text">
        Just put in your credit-card credentials and wait for a safe transfer of money to your land-lord. Your security is our top priority!
    </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title style="text-align: center;">HOME
                <ion-icon name="ios-home"></ion-icon>
            </ion-card-title>
            <ion-card-subtitle>
                <ion-input placeholder="CARD NUMBER"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="CVV"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="NAME"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="DOB"></ion-input>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-button class="round">PAY</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title style="text-align: center;">Water
                <ion-icon name="ios-water"></ion-icon>
            </ion-card-title>
            <ion-card-subtitle>
                <ion-input placeholder="CARD NUMBER"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="CVV"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="NAME"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="DOB"></ion-input>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-button class="round">PAY</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title style="text-align: center;">Electricity
                <ion-icon name="ios-outlet"></ion-icon>
            </ion-card-title>
            <ion-card-subtitle>
                <ion-input placeholder="CARD NUMBER"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="CVV"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="NAME"></ion-input>
            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-input placeholder="DOB"></ion-input>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-button class="round">PAY</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>