<ion-content>
  <div>
    <ion-slides pager="true">
      <ion-slide class="step-one">
          <ion-img src="/assets/slides/lock.png" @slidelefttitle class="image_one"></ion-img>
          <div @slidelefttitle>
            <h1>Security</h1>
            <p>We focus on safekeeping our communities for a better future!</p>
          </div>
      </ion-slide>

      <ion-slide class="step-two">
          <ion-img src="/assets/slides/eye.png"></ion-img>
          <h1>using top of the line tech</h1>
          <p> With best technologies of 2020 we keep your community safe from intruders</p>
      </ion-slide>

      <ion-slide class="step-three">
          <ion-img src="/assets/slides/phone.png"></ion-img>
          <h1>Sign Up now! It is free!</h1>
          <p>We value your security more than our money</p>

          <ion-button href = "/home">SIGN UP OR LOGIN NOW!</ion-button>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>