<ion-tabs #tabs >
  <ion-tab-bar slot = "bottom">

    <ion-tab-button tab = "feed">
      <ion-icon name = "apps"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab = "uploader">
      <ion-icon name = "send"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>

    <ion-tab-button tab = "payrent">
      <ion-icon name = "ios-card"></ion-icon>
      <ion-label>Pay Rent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab = "marketplace">
      <ion-icon name = "md-people"></ion-icon>
      <ion-label>Market Place</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
