.background{
    --background: url(/assets/back2.jpg);
}
.dec{
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
