<ion-header>
  <ion-toolbar class = "background">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title><h1 style="color: white; font-family: 'Poppins', sans-serif;">Feed</h1></ion-title>
    <ion-button class="profile_pic" (click) = "profile()">
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="canvas">

  <br>
  <ion-card>
    <img src="./assets/wildcat.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Animals</ion-card-subtitle>
      <ion-card-title>Wild Cat Spotted!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Wild Cat was spotted today at the edge of the community. It was roaming around, fortunately it did not seem interested in humans.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/newyearparty.webp" />
    <ion-card-header>
      <ion-card-subtitle>Events</ion-card-subtitle>
      <ion-card-title>New Year After Party!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Join one of the biggest events of the community, where prizes, party games, and the community all come together.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/hack.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Events</ion-card-subtitle>
      <ion-card-title>DVHACKS WIN BEST HACKATHON!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Due to their outstanding staff and leadership skills, the hackathon was extremely fun. They beat all other hackahtons in the bay area!
    </ion-card-content>
  </ion-card>


</ion-content>
