<ion-header>
    <ion-toolbar class="background">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            <h1 style="color: white; font-family: 'Poppins', sans-serif;">Market Place</h1>
        </ion-title>
        <ion-button class="profile_pic" (click) = "profile()">
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <img src="./assets/tv.jpg" />
        <ion-card-header>
            <ion-card-title>4K T.V.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Hi guys, My name is Sam. I am living apt 69 block 420, I am moving out to a new city called delhi. 
            I bought a 4 K tv which I don't need. If your are interested, click the button.
        </ion-card-content>
        <ion-card-content>
          <ion-button style = "text-align: center;" href = "https://www.ebay.com/itm/55-inch-4K-Ultra-HD-HDR-Smart-TV-with-3-x-HDMI-1-USB/223711412824?_trkparms=%26rpp_cid%3D5cc1dee8e7abc5604619e775%26rpp_icid%3D5cc1dee8e7abc5604619e774&_trkparms=pageci%3A8d38169c-3a71-11ea-aafa-74dbd180294f%7Cparentrq%3Abbfe32c116f0ad4e23c035dfff8d0039%7Ciid%3A1">$299</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="./assets/xbox.jpg" />
      <ion-card-header>
          <ion-card-title>Xbox 1S</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Hey guys, my name is Ben Dover. I live in apt 420 block 8008. I am selling my xbox for some extra money to pay for a phone. 
        If yoou would like to buy my xbox click on the button. 
      </ion-card-content>
      <ion-card-content>
        <ion-button style = "text-align: center;" href = "https://www.ebay.com/itm/NEW-Microsoft-Xbox-One-500GB-Black-Console-w-Controller/303040939213?hash=item468ea5c4cd:g:xu0AAOSwwgBcS1oT:sc:USPSPriority!94103!US!-1">$420.69</ion-button>
      </ion-card-content>
    </ion-card>

  <ion-card>
    <img src="./assets/iphone.jpg" />
    <ion-card-header>
        <ion-card-title>iphone 11 Pro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hi my name is Ana L. I am living in apt 800 block 8. I am sellling my iphone to fund girls who code. Please help me out since we are a community. Click now to buy!
    </ion-card-content>
    <ion-card-content>
      <ion-button style = "text-align: center;" href = "https://www.ebay.com/itm/NEW-Microsoft-Xbox-One-500GB-Black-Console-w-Controller/303040939213?hash=item468ea5c4cd:g:xu0AAOSwwgBcS1oT:sc:USPSPriority!94103!US!-1">$800.8135</ion-button>
    </ion-card-content>
</ion-card>

</ion-content>
