

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


.card1 {
    background: url(/assets/back1.jpg);
}

.card2 {
    background: url(/assets/back2.jpg);
}

.text1{
    color:white;
}

.background{
    --background: lightyellow;
}


