<ion-header>
  <ion-toolbar class = "background">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title><h1 style="color: white; font-family: 'Poppins', sans-serif;">Account</h1></ion-title>
    <ion-button class="profile_pic" (click) = "feed()">
      <ion-icon slot="icon-only" name="ios-home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="canvas">
  <ion-card>
    <img src="./assets/bendover.jpg" style = "height: 450px;">
    <ion-card-header>
      <ion-card-subtitle>resident</ion-card-subtitle>
      <ion-card-title>Name: Shaurya Srivastav<br> Address: 9980  delware drive, San Ramon, CA, 94583<br> Contact: shaurya0904@gmail.com <br> phone:  1 800  42069 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        
    </ion-card-content>
  </ion-card>
  <h1 style="text-align: center;">Friends</h1>
  
  <ion-button expand="full">Abhinav Srinivas</ion-button>
  <ion-button expand="full">Aryan Sarda</ion-button>
  <ion-button expand="full">Mukul Natarajan</ion-button>
  <ion-button expand="full">Sahil tallam</ion-button>
  <ion-button expand="full">sasank gamini</ion-button>
</ion-content>
